.surveyScreen {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
}

.surveyInfoScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  top: 0;
  left: 0;

  background: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.questionStatement {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.answersList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
