.surveyScreen {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
}

.dynamicBackground[data-screen-type="info"] {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );
  z-index: -1;
}

.question {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.question[data-screen-type="info"] {
  color: #fbfbff;
  text-align: center;
}

.questionStatement {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.questionStatement[data-screen-type="info"] {
  text-align: center;
  color: #fbfbff;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.answersList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
