.button {
  display: block;
  position: relative;
  z-index: 1;

  height: 64px;
  width: 330px;

  border-radius: 16px;
  border: 1px solid #e0e0e0;

  background-color: #eaeef7;
  box-shadow: 2px 2px 6px 0px #543c9740;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  transition: color 0.3s ease-in;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 64px;
  background: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: -1;
  border-radius: 16px;
}

.button:hover::before,
.button:focus::before,
.button:active::before {
  opacity: 1;
}

.button:hover,
.button:focus,
.button:active {
  color: #fafafa;
  border: 1px solid transparent;
}

.button a {
  display: block;
  width: 100%;
  line-height: 64px;
  padding: 0 20px;
}

.button span,
.button p {
  display: block;
  width: 100%;
  padding: 0 20px;
}

.button[data-screen-type="info"] {
  background-color: #fbfbff;
  box-shadow: #d8d6d640;
  color: #6a3aa2;
  transition: all 0.3s ease-in;
}

.button[data-screen-type="info"]:hover,
.button[data-screen-type="info"]:focus,
.button[data-screen-type="info"]:active {
  background-color: #dfdddd;
  color: #543c97;
}

.button[data-screen-type="info"]::before {
  content: none;
}
