html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  all: unset;
}
